<a href="https://colab.research.google.com/github/AcheBe1/DatascienceAlura/blob/Ejercicios/Ejercicios_b%C3%A1sicos_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
num1 = int(input('Escriba el primer número: '))
num2 = int(input('Escriba el segundo número: '))

print(f'Los números entre {num1} y {num2} son:')

if num1 < num2:
    for i in range(num1, num2 + 1):
        print(i)
else:
    for i in range(num2, num1 + 1):
        print(i)

Escriba el primer número: 1
Escriba el segundo número: 5
Los números entre 1 y 5 son:
1
2
3
4
5

In [ ]:
#valores de las colonias
col_a = 4
col_b = 10
#contador de días
dias = 0

while col_a =< col_b:
  col_a